@import 'compass'
@import 'compass/reset'
@import 'grid'
@import 'pygments'

$ec-orange     : #ff722d
$ec-grey-type  : #666
$din           : 'ff-din-web-pro',    helvetica, arial, sans-serif
$din-condensed : 'din-condensed-web', helvetica, arial, sans-serif
$skolar        : 'skolar', georgia, serif

body
  font-family : helvetica, arial, sans-serif
  font-size   : 62.5%

header
  height     : 580px
  background : #d86c2d url(/edgecase/images/header_background.jpg)

h1
  text-transform: uppercase


#what_it_is_all_about
  border-top: 5px solid #fff
  background: #adadad



footer
  background: #f2f2f2
