@import 'compass'
@import 'compass/reset'
@import 'grid'
@import 'pygments'

$ec-orange     : #ff722d
$ec-grey-type  : #666
$din           : 'ff-din-web-pro',    helvetica, arial, sans-serif
$din-condensed : 'din-condensed-web', helvetica, arial, sans-serif
$skolar        : 'skolar', georgia, serif
$monospaced    : 'Andale Mono', 'Monaco', 'Menlo', 'Courier', monospace

body
  font-family : helvetica, arial, sans-serif
  font-size   : 62.5%

header
  #need_development
    position        : absolute
    top             : 0
    right           : 0
    width           : 241px
    height          : 31px
    color           : $ec-orange
    font-family     : $din-condensed
    font-size       : 1.6em
    line-height     : 31px
    text-align      : center
    text-decoration : none
    text-transform  : uppercase
    background      : url(/edgecase/images/need_development.png)

  .home_link
    position    : absolute
    display     : block
    text-indent : -999em


body.home header
  height     : 580px
  background : #d86c2d url(/edgecase/images/header_background.jpg)

  .wrapper
    overflow : hidden
    height   : 100%

  .home_link
    top         : 130px
    left        : 0
    width       : 424px
    height      : 319px
    background  : url(/edgecase/images/header_text.png)

  .span-2
    position   : absolute
    top        : 359px
    right      : -30px
    width      : 544px
    background : url(/edgecase/images/header_borders.png) no-repeat

    h1
      margin-bottom : 17px
      padding-top   : 8px
      color         : #fff
      font-family   : $din-condensed
      font-size     : 2.5em

    a
      overflow        : hidden
      position        : relative
      display         : block
      margin-bottom   : 5px
      padding         : 2px 0
      color           : #fff
      font-family     : $skolar
      font-size       : 1.5em
      text-decoration : none
      text-overflow   : ellipsis
      white-space     : nowrap

      &:active
        top: 1px

.category_listing
  padding-top: 70px

  h1
    margin-bottom : 13px
    border-top    : 3px solid $ec-orange
    padding-top   : 3px
    color         : $ec-orange
    font-family   : $din-condensed
    font-size     : 2.5em

  ul
    height: 130px

  a
    overflow        : hidden
    display         : block
    margin-bottom   : 6px
    color           : $ec-grey-type
    font-family     : $din
    font-size       : 1.6em
    text-decoration : none
    text-overflow   : ellipsis
    white-space     : nowrap

  .external
    h1
      border-top-color : #b3b3b3
      color            : $ec-grey-type

    .link
      display     : block
      height      : 130px
      text-indent : -999em

    #rubykoans
      background: url(/edgecase/images/rubykoans.png) no-repeat 50% 50%

    #git_immersion
      background: url(/edgecase/images/git_immersion.png) no-repeat 50% 50%

body.page header
  height     : 70px
  background : #ccc url(/edgecase/images/whitey.jpg)

  .home_link
    top         : 25px
    left        : 0
    width       : 222px
    height      : 20px
    background  : url(/edgecase/images/header_text_small.png)

  .span-2
    display: none

h1
  text-transform: uppercase


body.page #what_it_is_all_about
  display: none

#what_it_is_all_about
  position   : relative
  border-top : 5px solid #fff
  padding    : 38px
  color      : #fff
  background : #adadad

  h1
    position    : absolute
    top         : -57px
    left        : 50%
    width       : 171px
    height      : 31px
    margin-left : -85px
    color       : $ec-grey-type
    font-family : $skolar
    font-size   : 1.2em
    line-height : 31px
    text-align  : center
    background  : url(/edgecase/images/about_background.png)

  p
    color       : #fff
    font-family : $din
    font-size   : 1.6em

.article
  padding-top: 70px

  .meta
    border-top  : 5px solid $ec-orange
    padding-top : 12px

    a
      color: $ec-orange

    h1
      margin-bottom : 50px
      color         : $ec-orange
      font-family   : $din-condensed
      font-size     : 4.0em

    h2
      margin-bottom : 50px
      border-top    : 3px solid #b3b3b3
      padding-top   : 8px
      color         : $ec-orange
      font-family   : $din
      font-size     : 1.4em

      span
        margin-right : 10px
        color        : $ec-grey-type

  .body
    border-top  : 5px solid #b3b3b3
    padding-top : 12px
    color       : $ec-grey-type
    font-family : $din

    a
      color: $ec-orange

    h2
      margin-bottom : 1.25em
      font-size     : 2.1em

    p
      margin-bottom : 1.75em
      font-size     : 1.6em
      line-height   : 156%

    ul, ol
      margin-bottom: 2em

    ul
      list-style-type: circle

    ol
      list-style-type: decimal

    li
      margin-bottom : 0.5em
      font-size     : 1.6em
      line-height   : 130%

    pre
      margin-bottom : 30px
      font-family   : $monospaced
      font-size     : 1.4em

    .highlight pre
      margin-bottom: 0


footer
  background: #f2f2f2
