Title: Amaze Your Friends with jQuery
Date: 18 Jan 2011
Author: Adam McCrea
Categories: JavaScript
Keywords: javascript, jquery

%p I, along with several other EdgeCasers, spent the better part of last week at CodeMash in Sandusky, OH. The conference was a wonderful experience. The venue, the content, the people… they were all top notch. Don’t be fooled by the cost (it’s dirt cheap), this conference continues to stand out as one of the best around.

%p What made this year special to me, though, is that I was selected to speak. It was an honor and a blast. I was completely stunned when my jQuery talk drew a standing-room-only crowd. And even though the projector had no color and my hands were shaking too badly to drink my water, I still received lots of positive feedback. I feel good about the talk, and I hope I get the opportunity to give it again to improve upon it.

%p My slides are pretty bare. I’m not sure they’ll make much sense without the accompanying talk. Nonetheless, several folks have asked for them, so <a href="http://dl.dropbox.com/u/22344/Amaze%20Your%20Friends%20With%20jQuery.pdf">here</a> they are.

%p A few final notes about the conference…

%p It really hit me while I was there what incredible speakers I work with. If you missed <a href="http://twitter.com/rubybuddha">Leon</a>, <a href="http://twitter.com/objo">Joe</a>, or <a href="http://twitter.com/jimweirich">Jim</a>, you owe it to yourself to find them the next time they speak.

%p This was also the first conference I’ve been to that brought in a <a href="http://enterthehaggis.com">rock band</a>. Enter the Haggis was fantastic, and I’m really glad we decided to do this.

%p I can’t say enough good things about CodeMash. Huge thanks is owed to all of the organizers and speakers. I can’t wait for 2011!
