Title: jQuery and Rails, Sitting in a Tree...
Date: 17 Apr 2010
Author: Adam McCrea
Categories: JavaScript
Keywords: javascript, jquery, rails

%p Just wrapped up my talk at Great Lakes Ruby Bash. Other than the slides being mostly unreadable on the projector, it went well.

%p
  %a(href="https://edgecase.s3.amazonaws.com/jquery_rails_talk.pdf") Here are the slides.

%p If you were at the talk, please send some feedback my way in the comments or via email.
