Title: Obtiva Craftsman Swap, Day Four
Date: 06 Aug 2010
Author: Adam McCrea
Categories: Craftsmanship
Keywords: craftsman

%p I started today off by requesting a change in plans. Yesterday was a bit awkward with Noel and Jen, so I addressed this at Obtiva's morning stand-up. Much like EdgeCase, Obtiva has a stand-up each morning for developers to check in with what they did yesterday, what they are doing today, and any blockers or announcements. Since Obtiva is a much larger company, though, they only include developer who happen to be in the studio.

%p Noel and Jen agreed that three was crowd, so I let them hash out a new plan, and I ended up back with Chad. Chad and I worked on a new feature for the marketplace app we had worked on previously. Most of our work in the morning had to be rewritten in the afternoon when requirements from the client changed, but such is life in an agile project. We test drove the feature from the model first (I'd call this inside-out development), which is backward from how I like to work, so it was a good exercise to force my brain to think differently about the problem.

%p We spent a good chunk of the afternoon on the controller spec, and discussed our difference of opinion on this approach. This wasn't a debate - I had no interest in changing his opinion or dictating our approach - but we wanted to better understand our differing approaches. Assuming integration specs are in place, I prefer not to write controller specs. Since this project has no integration specs, though, I agreed that controller specs are important. These specs made heavy use of mocking, though, and we had a hard time getting them to work as we expected.

%p Ryan Briones organized a game of Settlers of Catan in the evening. I had a really good time playing and meeting some new people.
