Title: Obtiva Craftsman Swap, Day One
Date: 03 Aug 2010
Author: Adam McCrea
Categories: Craftsmanship
Keywords: craftsman

%p Today has been day one of my craftsman swap with Obtiva in Chicago. The craftsman swap concept involves trading places for one week with a developer at another company, with the goal of improving both companies by learning how we each operate on a day-to-day basis. This is EdgeCase's first craftsman swap and my first time in Chicago, so needless to say I'm very excited about this opportunity.

%p When I arrived at Chicago Midway this morning, Obtivian Ryan Briones was kind enough to meet me at the airport. Ryan is a former EdgeCaser, so it was comforting to see a familiar face in a new city. We shared a cab to the Obtiva studio in the West Loop, which is where I'll be working this week.

%p The studio is a gorgeous downtown office. It certainly has some similarities with the EdgeCase office - casual dress, a large room for development with beautiful 27" monitors for pairing, and a few side offices for meetings. There are a few noticeable differences as well. Walking into the Obtiva studio, you're greeted by a receptionist in an actual lobby. This is something we've certainly wished for at times, but it really doesn't make sense for a company as small as EdgeCase and with infrequent visitors. Obtiva is a much larger company, though, with somewhere around 30-40 developers (I'll dig into those details soon enough), so it makes a lot more sense.

%p The studio is also noticeably smaller than the EdgeCase office, which makes sense considering that most Obtivians work onsite at client locations. A handful of developers do work out of the studio, though, and today I paired with Chad Pry, another ex-Columbus resident.

%p Chad and I worked on a project that Obtiva started on just last week. This is an existing Rails application used in conjunction with advertisements placed on the client's other sites. We worked specifically on a JavaScript widget that shows a list of advertisers and links to those advertisers in the marketplace website. Our task was to limit the height of the list and make it scrollable via JavaScript.

%p We ran into a couple major obstacles along the way. First, we were missing some key information to get Chad's development environment running the application, so we spent the morning going through the code to get an understanding of how everything is wired together. After lunch we got the info we needed, but then banged our heads against what turned out to be Safari-specific behavior in the jCarousel widget we were using. By the end of the day, we had figured out a workaround and completed our task.

%p We had a quick Skype call with the client at the end of the day to check in with our status. Since we didn't get as much done as we had hoped, it was good to discuss this with the client right away. We all ended the day satisfied and ready to start fresh tomorrow.

%h2 Takeaways from today:

%ul
  %li Split windows in Vim can be used effectively, but I'm still not sure if I'll make them part of my routine workflow.
  %li Development environments should never depend on external services (such as AWS).
  %li When JavaScript behaves in ways that seem to make no sense, try another browser.
  %li Daily check-ins with clients are critical, especially on days when less progress is made than expected. Use video if possible.
